
* {
    box-sizing: border-box;
    padding: 0;
  }

  .debug {
    border: 1px dashed red;
    margin: 0;
  }

  .header_container {
    background-color: #ff8929;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .logo {
    max-height: 40px;
    height: auto;
    width: auto;
    display: block;
}